<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Marina Management API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<p><strong>Marina Management API</strong></p>
								</header>
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>User Details</h1>
										</header>
										<ul>
											<li><strong>First Name</strong>: <%=user.first_name%></li>
                                            <li><strong>Last Name</strong>: <%=user.last_name%></li>
                                            <li><strong>User ID</strong>: <%=user.user_id%></li>
                                            <li><strong>JWT</strong>: <%=user.JWT%></li>
										</ul>
									</div>
								</section>
						</div>
					</div>
			</div>
	</body>
</html>
