<!DOCTYPE html>
<html>
  <head>
    <title>Marina Management API</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      Clicking the button below will redirect you to login with a Google account 
      and request profile permissions for that account. You will then be redirected 
      to another page that shows some of your user info in addition to the JWT issued
      by Google and the JWT's sub value, which will represent your user ID.
    </p>
    <p>
      You can then interact with the API via the endpoints described in the
      specifications document using the JWT for authentication and authorization.
    </p>
    <form method="POST" action="/">
      <button type="submit">Go</button>
    </form>
  </body>
</html>
